.product-images {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-images .product-images__img {
  width: 200px;
  object-fit: contain;
}

.product-images .product-images__buttons {
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  gap: 8px;
}
